.underline {
  background-position: 0 bottom;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAMAAAB70KeTAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAAAzSURBVHgBASgA1/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABACkAAsuaZXwAAAAASUVORK5CYII=);
}
.underline.thick {
  background-position: 0 bottom;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAMAAAB70KeTAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAAAzSURBVHgBASgA1/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQABACwAA2VMvKsAAAAASUVORK5CYII=);
}
.underline.transparent {
  background-position: 0 bottom;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAMAAAB70KeTAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP/Te3aDWcAAAAzSURBVHgBASgA1/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABACkAAsuaZXwAAAAASUVORK5CYII=);
}
.waved {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAUCAMAAACd+WzXAAAABlBMVEX/////AADrWueTAAAAAnRSTlP//8i138cAAABvSURBVHgBAWQAm/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQABAQAAAHgABduw4i8AAAAASUVORK5CYII=);
  background-position: 0 bottom;
}
.waved.alt {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAUCAMAAACZDLzqAAAABlBMVEX///8AgABuQUs1AAAAAnRSTlP//8i138cAAACXSURBVHgBAYwAc/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEBAAEBAQAAAAC2AAeXeTcMAAAAAElFTkSuQmCC);
  background-position: 0 bottom;
}
.dotted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAUCAMAAAB/JXeuAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAABbSURBVHgBAVAAr/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAABTAAL1/KwOAAAAAElFTkSuQmCC);
  background-position: 0 bottom;
}
.dotted.rare {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAUCAMAAACZDLzqAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAACXSURBVHgBAYwAc/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAAAACSAALkxNwqAAAAAElFTkSuQmCC);
  background-position: 0 bottom;
}
.dotted.thick {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAUCAMAAACZDLzqAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAACXSURBVHgBAYwAc/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEAAAAAAAEBAAAAAACwAAUp7UnSAAAAAElFTkSuQmCC);
  background-position: 0 bottom;
}
.dashed {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAMAAACHxYxZAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAAC/SURBVHgBAbQAS/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEBAQAAAAAAzgAFh4rIGQAAAABJRU5ErkJggg==);
  background-position: 0 bottom;
}
.dashed.rare {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAUCAMAAACZDLzqAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAACXSURBVHgBAYwAc/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEBAQEAAACeAAUW+SBkAAAAAElFTkSuQmCC);
  background-position: 0 bottom;
}
.dashed.thick {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAMAAACDMFxkAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAADnSURBVHgBAdwAI/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEBAQEBAAAAAAABAQEBAQEAAAAAAXgADRRd+gEAAAAASUVORK5CYII=);
  background-position: 0 bottom;
}
.dot-dashed {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAMAAACDMFxkAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAADnSURBVHgBAdwAI/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQAAAQEBAQAAAQEAB6UowkgAAAAASUVORK5CYII=);
  background-position: 0 bottom;
}
.dot-dashed.thick {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAMAAACDMFxkAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAADnSURBVHgBAdwAI/8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQEAAAEBAQEAAAABAQAAAQEBAQAAAWgADTvxjNsAAAAASUVORK5CYII=);
  background-position: 0 bottom;
}
.png {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAMAAABFaP0WAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlP//8i138cAAAARSURBVHgBAQYA+f8AAAEAAAYAAs1RLNYAAAAASUVORK5CYII=);
}
